@import '../../../../styles/constants/index.scss';
@import '../../../../styles/_mixins.scss';

.hero {
    background-image: url('../../../../assets/images/monticello-hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100vh;

    &__content {
        padding: 110px 0 50px 0;
        position: relative;

        @media screen and (max-width: $deviceSizeXS) {
            padding: 120px 0 50px 0;
        }
    }
}

.btn-scroll-down {
    width: 40px;
    height: 40px;
    border: 1px solid $white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    transition: 0.1s ease;


    &:hover {
        box-shadow: 0px 1px 9px white
    }
}

.btn-scroll-down a{
    padding-top: 2px;
}
