@import '../../../../styles/constants/index.scss';
@import '../../../../styles/_mixins.scss';


  .about {
    background-color: $white;;
    min-height: 100vh;

    &__content {
      padding: 160px 0 50px 0;
  
      @media screen and (max-width: $deviceSizeXS) {
        padding: 140px 0 10px 0;
      }
    }
  }