@import '../../../../../../styles/constants/index.scss';

.contacts-card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 870px;
    width: 100%;
    min-height: 450px;
    background-color: $white;
    padding: 60px 20px 20px;
    z-index: 2;

    @media screen and (max-width: $deviceSizeXMD) {
        top: 600px;
        max-width: 991px;
        left: 0;
        right: 0;
        // bottom: 0;
        transform: none;
    }

    &__common-wrap {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 50px;

        @media screen and (max-width: 685px) {
            flex-direction: column;
        }
    }

    &__data-wrap {
        flex-direction: column;

        @media screen and (max-width: 685px) {
            margin-bottom: 40px;
        }
    }

    &__contact-wrap {
        display: flex;
        flex-direction: row;
        font-family: GothemBook;
        font-size: 18px;
        line-height: 34px;
        color: $textSecondary;
        align-items: center;

        & div i {
            font-size: 18px;
            color: $iconSlateBlue;
            padding-right: 10px;
        }

        & div {
            padding-top: 14px;
        }

        & span {
            padding-top: 8px;
        }
    }

    &__form-wrap {
        padding: 0 16px;

        @media screen and (max-width: 685px) {
         width: 100%;
         align-items: flex-end;
        }
    }

    &__btn-wrap {
        display: flex;
        justify-content: flex-end;
        margin-top: 30px;
    }
}
