@import '../../styles/constants/index.scss';
@import '../../styles/_mixins.scss';

.button {
  width: 100%;
  background-color: $white;
  height: 50px;
  color: $textSecondary;
  font-family: GothemBook;
  font-size: 14px;
  line-height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  padding-top: 10px;


  &--with-border {
    border-style: solid;
    border-width: 1px;
  }

  &--border-grey {
    border-color: $textSecondary;
  }

  &--small-size {
    max-width: 140px ;
  }

  &--large-size {
    max-width: 190px ;
  }

  &--big-size {
    max-width: 288px ;
  }

  &:hover {
    background-color: $bgHeaderAside;
    color: white;
    border: 1px solid white;
    transition: 0.2s ease ; 
  }
}
