@import '../../styles/constants/index.scss';

.content-container {
  padding: 0 24px;
  width: 100%;

  @media screen and (max-width: $deviceSizeXS) {
    padding: 0 16px;
 
  }

  &__inner-wrapper {
    margin: 0 auto;

    @media screen and (max-width: $deviceSizeLG) {
      max-width: 1200px;
    }
  }
}
