@import '../../styles/constants/index.scss';
@import '../../styles/_mixins.scss';

.font-icons {
  vertical-align: middle;
  

  // Modified

  &--xs {
    font-size: 14px;
  }

  &--sm {
    font-size: 16px;
  }

  &--md {
    font-size: 20px;
  }

  &--lg {
    font-size: 24px;
  }

  &--xl {
    font-size: 28px;
  }

  &--xxl {
    font-size: 32px;
  }

  &--xxxl {
    font-size: 40px;
  }

  &--xxxxl {
    font-size: 56px;
  }

  &--max {
    font-size: 200px;
  }

  &--rotate45 {
    transform: rotate(45deg);
  }

  &--rotate90 {
    transform: rotate(90deg);
  }

  &--rotate180 {
    transform: rotate(180deg);
  }

  &--color-initial {
    color: $white;
  }

  &--color-green {
    color: green;
  }

  &--whitoutBorder {
    border: none !important;
  }

  &--bgColorOnHover {
    .font-icon:hover {
    background-color: transparent !important;
    }
  }
}
