/**
 * Application initial colors
 */

$black: #0d0d0d;
$white: #ffffff;

$linkHoverColor: $black;
$bodyColor: $black;
$linkColor: $black;
$bodyBg: $white;


$textPrimary: #ffffff;
$textSecondary: #2c4058;
$textBrightGrey:#4B5562;
$textMayaBlue:#55B7FF;
$iconSlateBlue:#7E5AFF;
$bgHeaderAside: #52609b;

