@import '../../../../../../styles/constants/index.scss';
@import '../../../../../../styles/_mixins.scss';

.social-block {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  &>* {
    margin-left: 20px;

    &:first-child {
      margin-left: 0;
    }
  }
}

.social-icon {

  &__instagram {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__facebook {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__twitter {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__wrapper-facebook {
    width: 40px;
    height: 40px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    &:hover {
      background-color: #3b5998;
      border: none;

      .social-icon__facebook {
        div svg text {
          fill: #fff;
        }
      }
    }
  }

  &__wrapper-twitter {
    width: 40px;
    height: 40px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    &:hover {
      background-color: #00acee;
      border: none;

      .social-icon__facebook {
        div svg text {
          fill: #fff;
        }
      }
    }
  }

  &__wrapper-instagram {
    width: 40px;
    height: 40px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    &:hover {
      background-color: #c8232c;
      border: none;

      .social-icon__facebook {
        div svg text {
          fill: #fff;
        }
      }
    }
  }
}