@import '../../styles/constants/index.scss';


.footer {
    height: 350px;
    width: 100%;
    background-image: url('./../../assets/images/bg-footer.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;

    @media screen and (max-width: $deviceSizeXMD) {
        position: absolute;
        top: 1050px;
        height: 250px;
    }

    @media screen and (max-width: 685px) {
        top: 1247px;
    }


    &__content {
        max-width: 870px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        
        @media screen and (max-width: 685px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        }
    }

    &__logo-wrap{
       
        @media screen and (max-width: 685px) {
            margin-bottom: 40px;
        }
    }

    &__text-wrap {
        color: $white;
        font-family: GothemBook;
        font-size: 14px;
        line-height: 22px;
        margin-top: 42px;
        display: flex;
        flex-direction: row;
        justify-content: center;

        @media screen and (max-width: 475px) {
            font-size: 10px;
        }

        &.footer__text-wrap p{
            text-align: center;

        }
       
    }
}
