@import '../../../../../../styles/constants/index.scss';
@import '../../../../../../styles/_mixins.scss';

.hero-card {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  &__title {
    font-family: GothemBold;
    font-size: 80px;
    color: $textPrimary;
    text-transform: uppercase;
    padding-bottom: 20px;
    text-align: center;

    @media screen and (max-width: $deviceSizeXMD) {
      font-size: 56px;
    }
    @media screen and (max-width: $deviceSizeXS) {
      font-size: 46px;
    }

    @media screen and (max-width: $deviceSizeXXS) {
      font-size: 28px;
    }

  }

  &__subtitle {
    font-family: GothemBook;
    font-size: 18px;
    line-height: 22px;
    color: $textPrimary;
    letter-spacing: 3px;
    text-align: center;
  }
}